In [2]:
import pandas as pd
df=pd.read_csv("Book2.csv")
print(df)

  name  subject  marks grade
0     a       m     10     A
1     b       p     20     B
2     c       c     30     C
3     d       d     40     D
4     e       o     50     R

In [12]:
header_names=["student name","student subject","student marks","student grade"]
df=pd.read_csv("Book2.csv",header=0,skiprows=1,names=header_names)
print(df)

  student name student subject  student marks student grade
0            b               p             20             B
1            c               c             30             C
2            d               d             40             D
3            e               o             50             R

In [7]:
df.dtypes

student name       object
student subject    object
student marks       int64
student grade      object
dtype: object

In [8]:
df["student marks"]=df["student marks"].astype(float)
df.dtypes

student name        object
student subject     object
student marks      float64
student grade       object
dtype: object

In [9]:
print(df)

  student name student subject  student marks student grade
0            b               p           20.0             B
1            c               c           30.0             C
2            d               d           40.0             D
3            e               o           50.0             R

AttributeError: module 'pandas' has no attribute 'to_excel'