In [2]:
import pandas as pd
df=pd.read_csv("summarization.csv")
print(df)

      Name  Age  Salary   Dept Gender
0     tanu   10  100000    CSE      F
1   adarsh   20  200000    CSE      M
2   soumya   33  200000  CIVIL      F
3  shivani   44  100000    ECE      F
4  sudheer   67  200000    MEC      M
5   kumari   34   10000    MEC      F
6    padma   25   10000    ECE      F

In [5]:
print(df.groupby(["Gender"]))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000241379F8430>

In [6]:
print(df.groupby(["Dept"]))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000024133128850>

In [7]:
print(df.groupby(["Salary"]))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000241379F8550>

In [8]:
a=df.groupby(["Gender","Dept"])
print(a.groups)

{('F', 'CIVIL'): [2], ('F', 'CSE'): [0], ('F', 'ECE'): [3, 6], ('F', 'MEC'): [5], ('M', 'CSE'): [1], ('M', 'MEC'): [4]}

In [9]:
a=df.groupby(["Gender","Age"])
print(a.groups)

{('F', 10): [0], ('F', 25): [6], ('F', 33): [2], ('F', 34): [5], ('F', 44): [3], ('M', 20): [1], ('M', 67): [4]}

In [10]:
print(df.groupby(["Dept"]).max())

          Name  Age  Salary Gender
Dept
CIVIL   soumya   33  200000      F
CSE       tanu   20  200000      M
ECE    shivani   44  100000      F
MEC    sudheer   67  200000      M

In [16]:
print(df.groupby(["Salary"]).min())

           Name  Age   Dept Gender
Salary
10000    kumari   25    ECE      F
100000  shivani   10    CSE      F
200000   adarsh   20  CIVIL      F

In [18]:
print(df.groupby(["Age"]).max())

        Name  Salary   Dept Gender
Age
10      tanu  100000    CSE      F
20    adarsh  200000    CSE      M
25     padma   10000    ECE      F
33    soumya  200000  CIVIL      F
34    kumari   10000    MEC      F
44   shivani  100000    ECE      F
67   sudheer  200000    MEC      M

In [17]:
print(df.groupby(["Dept"]).sum())

       Age  Salary
Dept
CIVIL   33  200000
CSE     30  300000
ECE     69  110000
MEC    101  210000

In [19]:
print(df.groupby(["Dept"]).groups)

{'CIVIL': [2], 'CSE': [0, 1], 'ECE': [3, 6], 'MEC': [4, 5]}

In [20]:
print(df.groupby(["Gender","Dept"]).groups)

{('F', 'CIVIL'): [2], ('F', 'CSE'): [0], ('F', 'ECE'): [3, 6], ('F', 'MEC'): [5], ('M', 'CSE'): [1], ('M', 'MEC'): [4]}

In [21]:
print(df.groupby(["Salary"]).groups)

{10000: [5, 6], 100000: [0, 3], 200000: [1, 2, 4]}

In [23]:
a=df.groupby(["Dept"])
print(a.get_group("ECE"))

      Name  Age  Salary Dept Gender
3  shivani   44  100000  ECE      F
6    padma   25   10000  ECE      F

In [24]:
t=df.groupby(["Dept"])
print(t.get_group("CSE"))

     Name  Age  Salary Dept Gender
0    tanu   10  100000  CSE      F
1  adarsh   20  200000  CSE      M

In [28]:
t=df.groupby(["Salary"])
print(t.get_group(200000))

      Name  Age  Salary   Dept Gender
1   adarsh   20  200000    CSE      M
2   soumya   33  200000  CIVIL      F
4  sudheer   67  200000    MEC      M

In [29]:
a=df.groupby(["Age"])
print(a.get_group(25))

    Name  Age  Salary Dept Gender
6  padma   25   10000  ECE      F

In [30]:
df["Gender"].value_counts()

F    5
M    2
Name: Gender, dtype: int64

In [31]:
df["Dept"].value_counts()

CSE      2
ECE      2
MEC      2
CIVIL    1
Name: Dept, dtype: int64

In [32]:
df["Age"].value_counts()

10    1
20    1
33    1
44    1
67    1
34    1
25    1
Name: Age, dtype: int64

In [33]:
df["Salary"].value_counts()

200000    3
100000    2
10000     2
Name: Salary, dtype: int64

In [34]:
df.groupby(["Dept","Gender"])